body {
    font-family: 'Arial', sans-serif;
    background-color: #FCFDF2;
    color: #333;
    margin: 10px;
}

h1 {
    text-align: center;
    color: #363062;
}

h2 {
    text-align: center;
    color: #363062;
}

hr {
    background-color: gray;
    color: #3498db;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #363062;
    padding: 10px;
    text-align: left;
}

thead,
tr,
th {
    background-color: #FAEEE7
}


label {
    display: inline-block;
    margin: 10px;
    color: #363062;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 9px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: red;

}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #363062;
}


.deleteButton {
    display: inline-block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

form {

    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add more styles as needed */